/*!
Theme Name: TTNQ Business Events
Theme URI: https://www.blank.com.au
Description: 2018 Wordpress theme for TTNQ Business Events.
Author: Popcandi Digital
Version: 1.0
*/
.button-top-right {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999999;
}

.button-top-right a {
    background: #178b85;
    color: #fff;
    font-size: 18px;
    padding: 20px 10px;
    display: block;
    text-align: center;
}